.projects-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #cc2a28;
  padding: clamp(4rem, 5vw, 10rem);
  color: black;
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 5vw, 6rem);
  z-index: 10;
}

.projects-title {
  font-size: clamp(4rem, 10vw, 9rem);
  font-weight: 800;
  line-height: 0.9;
  text-align: center;
  margin-bottom: clamp(3rem, 5vw, 6rem);
}

/* Project Item */
.project-item {
  display: flex;
  flex-direction: row;
  gap: clamp(2rem, 4vw, 5rem);
  align-items: center;
}

.project-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.project-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
    padding: 20px 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.project-title {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
}

.project-description {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
}

.project-link {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 auto;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .project-item {
    flex-direction: column;
  }

  .project-image,
  .project-text {
    width: 100%;
  }

  .projects-title {
    font-size: clamp(3rem, 8vw, 5rem);
  }
}

@media (max-width: 480px) {
  .projects-title {
    font-size: clamp(2rem, 10vw, 3.5rem);
  }

  .project-title {
    font-size: clamp(1.5rem, 5vw, 2rem);
  }

  .project-description,
  .project-link {
    font-size: clamp(0.9rem, 3vw, 1.2rem);
  }
}
