.aboutSection {
  position: relative;
  margin-top: 100vh; /* Mantén esto */
  height: 100vh; /* Cambia max-height por height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  z-index: 10; /* Mayor que el header */
}

.aboutImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

.aboutTextContainer {
  position: relative;
  z-index: 2;
  text-align: center;
  color: rgb(238,110,41);
  padding: 40px;
  max-width: 90%;
  opacity: 0.8;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.aboutTextContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.aboutTitle {
  font-size: clamp(4rem, 12vw, 11.5rem);
  font-weight: 800;
  line-height: 0.9;
}

.aboutSubtitle {
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin-top: 10px;
}

/* =====================
   RESPONSIVE MOBILE
===================== */
@media (max-width: 768px) {
  .aboutSection {
    background-color: black; /* fallback si la imagen tarda en cargar */
    background-image: url('../../assets/about-image.jpg'); /* tu imagen de fondo */
    background-size: cover;
    background-position: center;
  }

  /* Ocultar la img flotante en mobile */
  .aboutImage {
    display: none;
  }

  /* Ajustes de padding/texto para móviles */
  .aboutTextContainer {
    padding: 20px;
    background-color: black;
    border-radius: 30px;
  }

  .aboutTitle {
    font-size: clamp(3rem, 10vw, 4rem);
  }

  .aboutSubtitle {
    font-size: clamp(1.5rem, 3vw, 1.5rem);
  }
}