.aboutSection {
  position: relative;
  margin-top: 100vh; /* Mantén esto */
  height: 100vh; /* Cambia max-height por height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  z-index: 10; /* Mayor que el header */
}

.aboutImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

.aboutTextContainer {
  position: relative;
  z-index: 2;
  text-align: center;
  color: rgb(204, 41, 41);
  padding: 40px;
  max-width: 90%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.aboutTextContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.aboutTitle {
  font-size: clamp(4rem, 12vw, 11.5rem);
  font-weight: 800;
  line-height: 0.9;
}

.aboutSubtitle {
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin-top: 10px;
}