.aboutSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.aboutVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  transition: transform 0.5s ease-out;
}

.aboutTextContainer {
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
  max-width: 90%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.aboutTextContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.aboutTitle {
  font-size: clamp(4rem, 12vw, 11.5rem);
  font-weight: 800;
  line-height: 0.9;
}

.aboutSubtitle {
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin-top: 10px;
}
