.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-title{
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 700;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-button {
    background-color: black;
    color: #cc2a28;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}
