.contact-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-modal {
  background: #cc2a28;
  color: black;
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
}
