#header {
    background-color: #cc2a28;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    opacity: 1;
    padding: 50px 30px 30px;
}

.header-title {
    color: black;
    font-weight: 800;
    font-size: 10.5rem;
    padding: 10px;
}