#header {
    background-color: #cc2a28;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    opacity: 1;
    padding: 0px 30px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    animation: header-title-appearance 1s ease-in;
    color: black;
    font-weight: 800;
    font-size: 11.5rem;
    padding: 10px;
}

@keyframes header-title-appearance {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.higher-text {
    display: flex;
    justify-content: space-between;
    text-align: start;
    color: black;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 20px;
}

.lower-text {
    text-align: end;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 20px;
}

.underline-hover {
    position: relative;
    display: inline-block;
    text-decoration: none !important;
}

.underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -4px;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.underline-hover:hover::after {
    transform: scaleX(0.5);
}

.header-link {
    color: rgba(0, 0, 0, 0.625) !important;
}

.header-link:hover {
    color: black !important;
}



