#header {
    background-color: #cc2a28;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    opacity: 1;
    padding: 50px 30px 30px;
}

.header-title {
    animation: header-title-appearance 1s ease-in;
    color: black;
    font-weight: 800;
    font-size: 11.5rem;
    padding: 10px;
}

@keyframes header-title-appearance {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.higher-text {
    display: flex;
    justify-content: space-between;
    text-align: start;
    color: black;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 20px;
}

.lower-text {
    text-align: end;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 20px;
}