#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    opacity: 1;
    padding: 50px 30px 30px;

}

.top-container {
    align-items: start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

#navigation-list { 
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}

.links-container {
    color: white;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 22px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-right: 50px;
}

.navigate-title {
    font-weight: 300;
    color: rgb(204, 41, 41);
}

.links-container a {
    text-decoration: none;
    color: rgb(123,26,25);
    font-size: 22px;
    font-weight: 500;
}

.links-container a:hover {
    color: rgb(204, 41, 41);
}

.text-title {
    font-size: 1.5rem;
    font-weight: 900;
    color: #cc2a28;
    margin-bottom: 50px;
    width: 70%;
    padding: 10px;
}

.get-in-touch-text {
    font-size: 1.2rem;
    font-weight: 200;
    color: #cc2a28;
    width: 70%;
    padding: 10px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer-title {
    color: #cc2a28;
    font-weight: 800;
    font-size: 11.5rem;
    padding: 10px;
}

.footer-text {
    font-weight: 200;
    font-size: 18px;
    color: #cc2a28;
    padding: 10px;
}