#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    opacity: 1;
    padding: 50px 30px 30px;

}

#navigation-list { 
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}

.left-container {
    color: white;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.navigate-title {
    font-weight: 200;
    color: rgb(189, 28, 28);
}

.left-container a {
    text-decoration: none;
    color: rgb(204, 41, 41);
    font-size: 18px;
    font-weight: 400;
}

.footer-title {
    color: #cc2a28;
    font-weight: 800;
    font-size: 8.5rem;
    padding: 10px;
}

.footer-text {
    font-weight: 400;
    font-size: 22px;
    color: #cc2a28;
    padding: 10px;
}